/*
*********
TYPOGRAPHY
*********
*/

@use './variables' as *;

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 2.2rem; 
}

#archetype-selector {
  font-size: 1rem;
}

.cards-container {
  color: $secondary-color;
}

.cards-found {
  font-weight: 700;
}

h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.card-box p {
  padding-bottom: 8px;
  color: $tertiary-color;
}

footer p {
  color: $tertiary-color;
}

.loader {
  color: $tertiary-color;
  font-size: 2rem;
}